@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.menu-web {
    display: none;
}

/* Aquí empieza burger menu */

.topnav {
    overflow: hidden;
    background-color: #292e47;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
 
  .topnav a.icon {
    background: #292e47;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  .topnav a:hover {
    background-color: #6B708D;
    color: #F2F4FC;
  }
  
  
  .active {
    background-color: #E5E5E5;
    color: white;
  }

  .burger-content{
    display: flex;
    justify-content: center;
  }


   /* Aquí acaba burger menu */

.footer-spacing {
    display: inline;
}

.first-section {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: auto;
    vertical-align: middle;
}

#hero-img {
    object-fit: cover;
    width: 300px;
}

.hero-text {
    line-height: 60%;
    font-weight: bold;
    font-size: 12px;
}

#card-one {
    object-fit: scale-down;
    width: 120px;
    float: left;
    position: absolute;
    margin-left: -225px;
}

#card-two {
    object-fit: scale-down;
    width: 120px;
    float: right;
    position: absolute;
    margin-left: -95px;
    margin-top: 150px;
}

.texts-of-hero {
    display: flex;
    align-items: flex-start;
}

.hero-large-text {
    font-size: 12px;
    width: 50%;
    padding-left: 10px;
    text-align: justify;
}