@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');


body {
    background-color: #f2f4fc;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.menu-web {
    display: none;
}

/* Aquí empieza burger menu */

.topnav {
    overflow: hidden;
    background-color: #292e47;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
 
  .topnav a.icon {
    background: #292e47;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  .topnav a:hover {
    background-color: #6B708D;
    color: #F2F4FC;
  }
  
  
  .active {
    background-color: #f2f4fc;
    color: white;
  }

  .burger-content{
    display: flex;
    justify-content: center;
  }


   /* Aquí acaba burger menu */

.first-section {
    text-align: center;
    
}

.hero-text-area {
    /* flex-wrap: wrap; */
    margin: auto;
}

#hero-img {
    /* object-fit: cover; */
    width: 300px;
}

.hero-text {
    line-height: 60%;
    font-weight: 700;
    font-size: 1.1em;
    text-align: center;
    color: #292E47;
}

#card-one {
    /* object-fit: scale-down; */
    width: 170px;
    float: left;
    position: absolute;
    margin-left: -335px;
}

#card-one:hover {
    width: 180px;
    transition: ease-in-out 0.2s;
    margin-left: -340px;
    
}

#card-two {
    /* object-fit: scale-down; */
    width: 170px;
    float: right;
    position: absolute;
    margin-left: -135px;
    margin-top: 220px;
}

#card-two:hover {
    width: 180px;
    transition: ease-in-out 0.2s;
    margin-left: -140px;
    
}

.wrap-text-and-square {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.empower-square {
    background-color: #ffffff;
    border-radius: 15%;
    height: 80px;
    width: 80px;
    padding: 10px;
    box-shadow: 1px 6px 10px rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    /* float: left; */
}

.empower-inside {
    padding: 10px;
    background-color: #D1EDFF;
    border-radius: 25%;
    width: 20px;
    height: 20px;
}

#empower-img {
    width: 20px;
    height: 20px;
}

.hero-large-text {
    font-size: 12px;
    width: 140px;
    text-align: justify;
    margin-left: 15px;
    color: #292E47;
    border-bottom: 5px solid #FFC600;
    /* float: right; */
}

.hero-buttons {
    display: flex;
    justify-content: center;
}

.button-get-in-touch {
    border-radius: 6px;
    border: none;
    background-color: #072acb;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    margin: 8px;
    font-weight: 500;
}

.button-see-our-work {
    border-radius: 6px;
    border: none;
    background-color: white;
    color: #072acb;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    margin: 8px;
    font-weight: 500;
}